/*
Theme Name: Omgekeerde ROI
Theme URI: https://www.omgekeerderoi.nl
Author: Marko Postma
Version: 1.0
*/

body {
  background: #fbfbfc;
}

#loader {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
}

input {
  box-shadow: none !important;
}

header {
  float: left;
  width: 100%;
  border-bottom: 1px #d9d9d9 solid;
  padding: 20px 10px;
  background: #fff;
  box-shadow: 0 0 10px 0 #f9f9f9;
}

header h1 {
  font-weight: 300 !important;
  position: relative;
  margin-top: 0;
}

header h1 .label {
  position: absolute;
  bottom: -10px;
  right: 50%;
  margin-right: -25px;
  width: 50px;
}

header h5 {
  margin-top: 24px !important;
}

#content,
footer {
  float: left;
  width: 100%;
  padding: 30px 10px;
}

footer {
  color: #B3B5BC;
}

#data {
  position: relative;
  z-index: 1;
  padding: 0;
  padding-bottom: 10px;
}

#data h4 {
  margin-bottom: 30px;
}

#data input,
#data select {
  border-color: #D8D8D9;
  font-weight: 600;
}

#data input:focus {
  background: #fff;
  color: #855DA8;
}

#data input:not(type=submit),
#data select {
  background-color: #EEEEEF;
}

#data label {
  opacity: .9;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}

#data .prefix,
#data .postfix {
  font-weight: 600;
  background: #fff;
  margin-right: -1px;
  border-color: #D8D8D9;
  color: #855DA8;
}

#results > div {
  border: 1px #d9d9d9 solid;
  background: #fff;
  box-shadow: 0px 0px 10px 0 #f1f1f1;
}

#results hr {
  margin: 0;
  border-style: dashed;
}

#results > div > .row {
  padding: 30px 30px 0 30px;
}

#results > div > .row:last-child {
  padding: 30px;
}

#results h3,
#results h4 {
  margin-bottom: 20px;
}

#results h6 {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 5px;
}

#results h6:before {
  display: inline-block;
  width: 20px;
}

#results h3 {
  font-weight: 700;
  color: #855DA8;
}

#data h6 {
  font-size: 13px;
  text-transform: lowercase;
  margin-bottom: 0;
}

#grade .panel {
  margin: 0;
  position: relative;
}

#grade .panel {
  -webkit-transition: all 500ms cubic-bezier(.860, 0, .070, 1);
  -moz-transition: all 500ms cubic-bezier(.860, 0, .070, 1);
  -o-transition: all 500ms cubic-bezier(.860, 0, .070, 1);
  transition: all 500ms cubic-bezier(.860, 0, .070, 1);
}

#grade .panel > .fa.icon {
  position: absolute;
  right: 20px;
  top: -20px;
  width: 46px;
  height: 46px;
  border: 3px #fff solid;
  text-align: center;
  line-height: 40px;
  font-size: 23px;
  color: #fff;
  border-radius: 6px;
}

#grade .panel > .fa.icon.fa-check {
  background: #9AD153;
}

#grade .panel > .fa.icon.fa-warning {
  background: #EFAF2F;
}

#grade.valid .panel {
  border-color: #9AD153;
  background: #F4FAED;
}

#grade.invalid .panel {
  border-color: #EFAF2F;
  background: #FDF7EA;
}

#grade .valid-text,
#grade .invalid-text {
  display: none;
  font-weight: 600;
  font-size: 13px;
  padding-top: 20px;
}

#grade.valid .valid-text {
  display: block;
  color: #9AD153;
}

#grade.invalid .invalid-text {
  display: block;
  color: #EFAF2F;
}

#grade tr td, #grade tr th {
  padding-left: 0;
  padding-right: 0;
}